<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cinema</title>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="admin-panel">
      <ul class="film-list">
        <li class="film" v-for='film in films'>
          Наименование: {{ film.name }} <br>
          Длительность {{ film.duration }}
        </li>
        <li class="film">
          Наименование: <input type="text" placeholder=" наименование" v-model='newFilm.name'><br>
          Длительность <input type="text" placeholder="длительность" v-model='newFilm.duration'><br>
          <input type="button" value="добавить" @click='createFilm'>
        </li>
      </ul>
    </div>
    <script src="js/admin.js"></script>
  </body>
</html>
